@charset "UTF-8";
#header {
  position: relative;
  background-color: #00b755;
}

#header #gnb .gnbList > li {
  background-color: #00b755;
}

#header #gnb .gnbList > li .depth02 {
  background-color: #00b755;
}

#appGuide {
  color: #171717;
  font-size: 1.8rem;
}

#appGuide .container {
  width: 1400px;
  margin: 0 auto;
}

#appGuide .container h2 {
  font-size: 4rem;
  font-weight: 700;
  padding: 80px 0 50px;
  border-bottom: 2px solid #171717;
}

#appGuide .container div h3 {
  margin: 30px 0 50px;
  font-size: 2.4rem;
  font-weight: 700;
  color: #00b755;
}

#appGuide .container div.txt {
  padding-bottom: 50px;
  border-bottom: 2px solid #171717;
}

#appGuide .container div.txt dl {
  display: flex;
  line-height: 1.8;
}

#appGuide .container div.txt dl dt {
  width: 30%;
  margin-right: 100px;
}

#appGuide .container div.txt dl dd {
  width: 70%;
  word-break: keep-all;
}

#appGuide .container div.eventCheck {
  margin-bottom: 120px;
}

#appGuide .container div.eventCheck ol li:last-child {
  padding: 10px 0;
}

#appGuide .container div.eventCheck ol li:last-child p {
  line-height: 1.2;
  word-break: keep-all;
}

#appGuide .container div.eventCheck ol li:last-child p:after {
  content: "(참가 정보 가운데 기념품 사이즈, 연락처, 전자우편 항목은 접수 기간 내에 개인 신청자의 경우 본인이나 단체 대표자가 직접 수정할 수 있습니다. )";
  display: block;
  margin-left: 25px;
}

#appGuide .container div.eventCheck ol li p strong {
  color: #00b755;
  font-weight: 700;
  text-decoration: underline;
}

#appGuide .container div.eventCheck .btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin: 50px 0;
  padding: 15px 50px;
  border: 1px solid #171717;
  font-size: 2.4rem;
  font-weight: 700;
  transition: 0.25s ease;
}

#appGuide .container div.eventCheck .btn:hover {
  background-color: #00b755;
  border-color: #00b755;
  color: #fff;
}
