@charset "UTF-8";
#header {
  position: relative;
  background-color: #00b755;
}

#header #gnb .gnbList > li {
  background-color: #00b755;
}

#header #gnb .gnbList > li .depth02 {
  background-color: #00b755;
}

#joinInfo .container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

#joinInfo .container .title {
  margin-top: 90px;
  color: #171717;
  font-weight: 700;
  border-bottom: 2px solid #787878;
}

#joinInfo .container .title:last-child {
  border-bottom: none;
}

#joinInfo .container .title h3 {
  font-size: 4rem;
}

#joinInfo .container .title p {
  margin: 50px 0 40px;
  line-height: 1.4;
  font-size: 2.6rem;
  color: #787878;
  word-break: keep-all;
}

#joinInfo .container .imgBox {
  text-align: center;
}

#joinInfo .container .imgBox:before {
  content: "참가 방법";
  display: block;
  margin: 60px 0 70px;
  font-size: 3rem;
  font-weight: 700;
  font-weight: 700;
  text-align: left;
  color: #171717;
}

#joinInfo .container .imgBox img {
  width: 90%;
}

#joinInfo .container > .infoTxt {
  margin-top: 150px;
  border-bottom: 2px solid #787878;
}

#joinInfo .container > .infoTxt dl {
  margin-top: 40px;
  color: #171717;
  font-weight: 700;
}

#joinInfo .container > .infoTxt dl:last-child {
  margin-bottom: 90px;
}

#joinInfo .container > .infoTxt dl dt {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #00b755;
}

#joinInfo .container > .infoTxt dl dd {
  font-size: 1.8rem;
  line-height: 1.5;
}

#joinInfo .container .item {
  display: flex;
  margin: 140px 0;
}

#joinInfo .container .item:last-child .itemInfo p a {
  text-decoration: underline;
}

#joinInfo .container .item .img {
  padding-top: 150px;
}

#joinInfo .container .item .img img {
  width: 130px;
}

#joinInfo .container .item .itemInfo {
  margin-left: 150px;
  color: #787878;
  font-size: 3rem;
  font-weight: 700;
}

#joinInfo .container .item .itemInfo dl {
  line-height: 1.8;
}

#joinInfo .container .item .itemInfo dl dt {
  display: inline-block;
  color: #00b755;
}

#joinInfo .container .item .itemInfo dl dd {
  display: inline-block;
}

#joinInfo .container .item .itemInfo p {
  margin-top: 50px;
  font-size: 2.2rem;
}
