@charset "UTF-8";
#header {
  position: relative;
  background-color: #00b755;
}

#header #gnb .gnbList > li {
  background-color: #00b755;
}

#header #gnb .gnbList > li .depth02 {
  background-color: #00b755;
}

#note {
  color: #171717;
}

#note .container {
  width: 1400px;
  margin: 0 auto;
  word-break: keep-all;
}

#note .container h2 {
  font-size: 4rem;
  font-weight: 700;
  padding: 80px 0  50px;
  border-bottom: 2px solid #171717;
}

#note .container .txt {
  padding: 30px 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid #171717;
}

#note .container .txt:last-child {
  border-bottom: none;
  padding-bottom: 80px;
}

#note .container .txt:last-child ol li:first-child {
  margin-bottom: 20px;
}

#note .container .txt h3 {
  margin-bottom: 30px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #00b755;
}

#note .container .txt ol li dl dt {
  font-weight: 700;
  margin-bottom: 15px;
}

#note .container .txt ol li dl dd {
  word-break: keep-all;
}

#note .container .txt > p {
  margin: 50px 0;
}

#note .container .txt > p span {
  display: block;
}

#note .container .txt > p.otherMatters:before {
  content: "기타사항";
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

#note .container .txt > p strong {
  font-weight: 700;
  color: #00b755;
  text-decoration: underline;
}
