#header {
  position: relative;
  background-color: #00b755;
}

#header #gnb .gnbList > li {
  background-color: #00b755;
}

#header #gnb .gnbList > li .depth02 {
  background-color: #00b755;
}

#notice {
  color: #171717;
}

#notice .container {
  position: relative;
  width: 1400px;
  margin: 0 auto 150px;
}

#notice .container h2 {
  padding: 80px 0 50px;
  font-size: 4rem;
  font-weight: 700;
}

#notice .container table {
  width: 100%;
  font-size: 1.6rem;
}

#notice .container table tbody tr {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #171717;
  transition: 0.25s ease;
}

#notice .container table tbody tr:hover {
  color: #00b755;
}

#notice .container table tbody tr:first-child {
  border-top: 3px solid #171717;
}

#notice .container table tbody tr.color th {
  font-weight: 700;
  color: #00b755;
}

#notice .container table tbody tr th {
  width: 10%;
  font-size: 1.8rem;
}

#notice .container table tbody tr td {
  width: 10%;
}

#notice .container table tbody tr td.title {
  width: 70%;
  word-break: keep-all;
}

#notice .container table tbody tr td.title a {
  display: inline-block;
}

#notice .container .noticeList {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#notice .container .noticeList ul {
  margin: 0 5px;
}

#notice .container .noticeList ul li a {
  font-size: 1.8rem;
  pointer-events: none;
}

#notice .container .noticeList button {
  color: #787878;
  cursor: pointer;
}
