@charset "UTF-8";
#header {
  top: 0;
  background-color: #00b755;
}

#header #gnb .gnbList > li {
  background-color: #00b755;
}

#header #gnb .gnbList > li .depth02 {
  background-color: #00b755;
}

#outLine {
  padding: 250px 0;
  background: url("../images/outline/bg.png") no-repeat right bottom;
}

#outLine table {
  width: 600px;
  margin-left: 15%;
  color: #171717;
  font-size: 2rem;
  text-align: left;
}

#outLine table:before {
  content: "대회개요";
  display: block;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 50px;
}

#outLine table tr {
  line-height: 3;
  border-bottom: 1px solid #17171750;
}

#outLine table tr th {
  display: block;
  font-weight: 700;
  margin-right: 110px;
}

#outLine table tr td {
  font-weight: 300;
}
