@import "_vars";


#header {
    position: relative;
    background-color: $mainColor;
    #gnb {
        .gnbList {
            > li {
                background-color: $mainColor;
                .depth02 {
                    background-color: $mainColor;
                }
            }
        }
    }
}

#joinInfo {
    .container {
        position: relative;
        width: 1400px;
        margin: 0 auto;
        .title {
            margin-top: 90px;
            color: #171717;
            font-weight: 700;
            border-bottom: 2px solid #787878;
            &:last-child {
                border-bottom: none;
            }
            h3 {
                font-size: 4rem;
            }
            p {
                margin: 50px 0 40px;
                line-height: 1.4;
                font-size: 2.6rem;
                color: #787878;
                word-break: keep-all;
            }
        }
        .imgBox {
            text-align: center;
            &:before {
                content: "참가 방법";
                display: block;
                margin: 60px 0 70px;
                font-size: 3rem;
                font-weight: 700;
                font-weight: 700;
                text-align: left;
                color: #171717;
            }
            img {
                width:90%;
            }
        }
        > .infoTxt {
            margin-top: 150px;
            border-bottom: 2px solid #787878;
            dl {
                margin-top: 40px;
                color: #171717;
                font-weight: 700;
                &:last-child {
                    margin-bottom: 90px;
                }
                dt {
                    margin-bottom: 20px;
                    font-size: 3rem;
                    color: $mainColor;
                }
                dd {
                    font-size: 1.8rem;
                    line-height: 1.5;
                }
            }
        }
        .item {
            display: flex;
            margin: 140px 0;
            &:last-child {
                .itemInfo {
                    p {
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .img {
                
                padding-top: 150px;
                img {
                    width: 130px;
                }
            }
            .itemInfo {
                margin-left: 150px;
                color: #787878;
                font-size: 3rem;
                font-weight: 700;
                dl {
                    line-height: 1.8;
                    dt {
                        display: inline-block;
                        color: $mainColor;
                    }
                    dd {
                        display: inline-block;
                    }
                }
                p {
                    margin-top: 50px;
                    font-size: 2.2rem;
                }
            }
        }
    }
}